.title {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.title p {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}

.title .righti {
  float: right;
}

.title span {
  color: #999;
  font-size: 12px;
}

.title .count {
  color: #f00;
  font-size: 20px;
}

.cars .head {
  padding: 15px 0;
  line-height: 20px;
  overflow: hidden;
  border-top: 2px solid #ec1611;
}

.cars .head p {
  font-weight: 700;
  font-size: 12px;
  float: left;
  color: #333;
}

.cars .head .all {
  width: 50px;
  margin-right: 150px;
  text-align: center;
}

.cars .head .products {
  width: 444px;
}

.cars .head .price {
  width: 180px;
}

.cars .head .money {
  width: 170px;
}
